body {
    background-color: #0d1117;
    color: #c9d1d9;
    padding-top: 70px;
    
  }
  .card {
    background-color: #161b22;
    border: none;
    border-radius: 1rem;
    color: white;
  }
  .card-title {
    color: #58a6ff;
  }
  .highlight {
    color: #79c0ff;
    font-weight: bold;
  }

.img-limit {
  height: 400px;
  max-width: 100%;
  object-fit: contain
}

